<p id="notice"><%= notice %></p>

<p>
  <strong>Date of birth:</strong>
  <%= @manager.date_of_birth %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
