<h1>Test splitters home</h1>

<dl>
  <dt><h2><%= link_to 'People', people_path %></h2></dt>
  <dd>Used to prove that date_select allows entry of 30-Feb-2015 and converts it to 2-Mar-2015</dd>
  <dt><h2><%= link_to 'Posts', posts_path %></h2></dt>
  <dd>All date split logic contained in post model</dd>
  <dt><h2><%= link_to 'Employes', employees_path %></h2></dt>
  <dd>employee date_of_birth is linked to test split_dmy gem</dd>
</dl>